MATRIX_MODE = "production"
DATABASE_URL = "https://www.uuidgenerator.net/version4"
API_KEY = "a6471971-3365-4698-96cd-051c7c8530b8"
LOG_LEVEL = "WARNING"
ZION_ENDPOINT = "https://profile-v3.intra.42.fr/"